* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Arita', serif !important;
  width: 100%;
  color: #333;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
  margin: 0;
  padding: 0;
}

input, textarea, button, select {
  color: #333;
}

p {
  color: inherit;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

h1, h2, h3, h4, h5, h6, dt, dd {
  font-weight: 400;
}

menu, ul, ol {
  list-style: none
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  color: inherit;
}

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  // border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
}

a, button, div {
  outline-color: initial !important;
  outline-style: none !important;
  outline-width: 0px !important;
}

/* css reset */
html, body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html, body, div, form, input, select, button, textarea, legend, fieldset, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, blockquote, address, p, th, td, caption, figcaption {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul, li {
  list-style: none;
}

img, fieldset {
  border: 0 none;
}

input, select, textarea {
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  outline: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit browsers */
  color: #d1d1d1;
}

input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #d1d1d1;
}

input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #d1d1d1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #d1d1d1;
}

button {
  background: transparent;
  cursor: pointer;
}

table caption {
  width: 0;
  height: 0;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
  display: block;
}

a {
  text-decoration: none;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  word-break: break-all;
}

em, address, i {
  font-style: normal;
}

figure {
  margin-right: 0;
  margin-left: 0;
}

.slick-loading .slick-list {
  background-image: none !important;
}
